# Dependencies
node_modules
.pnpm-store

# Build
.turbo
.next
dist
coverage
test-results
playwright-report

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example
deploy/.env.production

# Logs
*.log

# Runtime uploads
apps/api/uploads

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

# Prisma
packages/database/src/generated
