# Dependencies
node_modules
.pnpm-store

# Build
.turbo
.next
dist
coverage

# TypeScript
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/settings.json

# Prisma
packages/database/src/generated